# DeepSeek API Key (Required)
DEEPSEEK_API_KEY="sk-xxxx"

# Tavily API Key (For news search)
TAVILY_API_KEY="tvly-dev-xxxx"

# Server Configuration (Optional)
HOST=0.0.0.0
PORT=8000

# HuggingFace Configuration
HF_TOKEN=hf_xxxx
HF_ENDPOINT=https://hf-mirror.com


# RAG Service Configuration
RAG_SERVICE_URL=http://10.139.197.44:8000

# MongoDB Configuration
MONGODB_HOST=xxxx
MONGODB_PORT=27017
MONGODB_USERNAME=xxxx
MONGODB_PASSWORD=xxxx
MONGODB_DATABASE=xxxx


# Redis Configuration (本地)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=stock:
